<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" data-scene="sunny">
<head>
  <script>
    (function(){var s=localStorage.getItem('scene');if(s==='rainy'||s==='sunny')document.documentElement.setAttribute('data-scene',s)})();
  </script>
  {{- partial "head.html" . -}}
  {{- block "styles" . }}{{ end -}}
</head>
<body>
  {{- partial "header.html" . -}}

  <div class="scene-layer" id="scene-layer"></div>
  <div class="scene-cloud"></div>

  <main class="site-main">
    {{- block "main" . }}{{ end -}}
  </main>

  {{- partial "footer.html" . -}}

  <script>window.__basePath = '{{ site.Home.RelPermalink }}';</script>
  {{ $scene := resources.Get "js/scene.js" }}
  {{ $sunny := resources.Get "js/sunny.js" }}
  {{ $rainy := resources.Get "js/rainy.js" }}
  {{ $search := resources.Get "js/search.js" }}
  <script src="{{ $scene.RelPermalink }}"></script>
  <script src="{{ $sunny.RelPermalink }}"></script>
  <script src="{{ $rainy.RelPermalink }}"></script>
  <script src="{{ $search.RelPermalink }}"></script>
  {{ $timeline := resources.Get "js/timeline.js" }}
  <script src="{{ $timeline.RelPermalink }}"></script>
  {{ $encrypt := resources.Get "js/encrypt.js" }}
  <script src="{{ $encrypt.RelPermalink }}"></script>
  {{ $zoom := resources.Get "js/zoom.js" }}
  <script src="{{ $zoom.RelPermalink }}"></script>
  {{ with .Site.Params.waline }}
  <meta name="waline-server" content="{{ .serverURL }}">
  {{ $walineInit := resources.Get "js/waline-init.js" }}
  <script type="module" src="{{ $walineInit.RelPermalink }}"></script>
  {{ end }}
</body>
</html>
