{{ define "main" }}
<div class="container">
  <header class="list-header">
    <h1 class="list-title">Tags</h1>
  </header>
  <div class="tags-cloud">
    {{ range .Site.Taxonomies.tags.Alphabetical }}
    <a href="{{ .Page.RelPermalink }}" class="tag-item">
      <span class="tag-name">#{{ .Page.Title }}</span>
      <span class="tag-count">{{ .Count }}</span>
    </a>
    {{ end }}
  </div>
</div>
{{ end }}

{{ define "styles" }}
{{ $post := resources.Get "css/post.css" }}
<link rel="stylesheet" href="{{ $post.RelPermalink }}">
{{ end }}
