<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} — {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">

{{ $main := resources.Get "css/main.css" }}
{{ $header := resources.Get "css/header.css" }}
{{ $syntax := resources.Get "css/syntax.css" }}
{{ $styles := slice $main $header $syntax | resources.Concat "css/bundle.css" }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}">

